

<div class="login-container">
<div class="login-wrap">
  <img src="assets/images/sopra-hr.png" alt="Logo" class="login-logo">
  <h3><i class="custom-icon"></i><strong>Bienvenue sur 4YOU</strong>, connectez-vous pour accéder à votre espace.</h3>

  <alert
    type="danger"
    [dismissible]="dismissible"
    *ngIf="showDangerAlert"
    (onClosed)="onClosed()">
    <i class="bi bi-exclamation-triangle-fill"></i>
    Nous ne reconnaissons pas vos identifiants.
    Merci de réessayer !
  </alert>

  <h5>Les champs indiqués par une * sont obligatoires.</h5>

  <div class="form">
  <form class="login100-form validate-form p-b-33 p-t-5" (ngSubmit)="onSubmit()" #loginForm="ngForm">

          <input type="text"  name="identifiant" [(ngModel)]="identifiant" placeholder="Votre identifiant*" required #identifiantInput="ngModel" >
          <div class="error" *ngIf="(identifiantInput.invalid && (identifiantInput.touched || submitted))">
      L'identifiant est requis. </div>
          <input type="password"  name="password" [(ngModel)]="password" placeholder="Votre mot de passe*" required #passwordInput="ngModel">
          <div class="error" *ngIf="(passwordInput.invalid && (passwordInput.touched || submitted))">
      Le mot de passe est requis.</div>

    <p class="forgot-password" (click)="onForgotPassword()"><i class="bi bi-lock-fill"></i> Mot de passe oublié ?</p>
    <p *ngIf="showForgotMessage">Si vous avez oublié votre mot de passe, vous devez contacter votre administrateur.</p>

    <button type="submit" [disabled]="!loginForm.form.valid"> Me connecter </button>

  </form>
  </div>
</div>
</div>


