<div class="dashboard-container">
  <div class="header-section">
    <div class="background-image">
      <img src="assets/images/bg_nacer.png" alt="Background Image" class="header-bg">
    </div>
    <div class="user-info-container">
      <div class="user-info-section">
        <div class="circular-image-placeholder">
          <img *ngIf="!profilePicture" class="img1" src="assets/images/blank-avatar-women.jpg">
          <img *ngIf="profilePicture" class="img1" [src]="profilePicture">
        </div>
        <div class="user-details">
          <span class="nameId" *ngIf="userFirstname && userIdentifiant">{{userFirstname}} {{userIdentifiant}}</span>
          <span class="position1" *ngIf="userPoste">{{userPoste}}</span>
          <span class="folder1">0 <img src="assets/images/folder.png" alt="Profile Picture" class="folderIcon"></span>
        </div>
      </div>
    </div>
    <img src="assets/images/arrow.png" class="round-button" alt="Arrow Button">
  </div>
  <div class="main-content">
    <div class="notification-wrapper">
      <div class="notifications-section"
           [@notificationSlide]="notificationState"
           (@notificationSlide.start)="animationStart($event)"
           (@notificationSlide.done)="animationDone($event)">
        <div class="notification-item">Mes tâches (0) <span>24/05/2025</span></div>
        <div class="notification-item warning" (click)="toggleDemands()">
          Les notifications de mon équipe ({{ notifications.length + natureHeureRequests.length + natureHeureDeletionRequests.length+ natureHeureModificationRequests.length }}) <span>29/05/2025</span>
        </div>
      </div>
      <div class="demands-section"
           [@demandSlide]="demandState"
           (@demandSlide.start)="animationStart($event)"
           (@demandSlide.done)="animationDone($event)">
        <div class="notif-search-container">
          <img src="assets/images/arrowLeft.png" class="arrowLeft" (click)="goBackFromDemands()" alt="Back Button">
          <div class="search-input-container">
            <input type="text" placeholder="Entrer un nom" class="search-bar" [(ngModel)]="searchTerm" (ngModelChange)="filterDemarcheItems()">
            <img src="assets/images/filtre.png" class="search-icon" alt="Search Icon">
          </div>
        </div>
        <!-- Notifications -->
        <div class="demand-item" *ngFor="let notification of notifications"
             [class.disabled]="notification.cloturee"
             (click)="showDeclaration(notification)">
          <img [src]="getEmployeePicture(notification.employeeId) || 'assets/images/managerPhoto.jpg'" alt="Employee Photo" class="manager-photo" >
          <div class="employeeNotif">
            <span class="employee-name">{{ notification.employeeName }}</span>
            <span >{{ notification.employeeIdentifiant }}</span>
          </div>
          <div class="employeeNotif">
            <span class="employee-name" *ngIf="notification.retard"> (Retard)</span>
            <span class="employee-name" *ngIf="!notification.retard"> (Maladie)</span>
          <span class="employee-identifiant">- {{ notification.createdAt | date:'dd/MM/yyyy' }} -</span>
          </div>
          <span *ngIf="notification.retard">(Aucune action requise, {{ notification.cloturee ? 'Clôturée' : 'Active' }})</span>
          <span *ngIf="!notification.retard && notification.cloturee">(Clôturée)</span>
          <span *ngIf="!notification.retard && !notification.cloturee && notification.absenceDeclarations.length === 0">(Aucune déclaration)</span>
          <button *ngIf="isDeclarationValidatable(notification)"
                  class="action-btn enabled"
                  (click)="validateNotification(notification); $event.stopPropagation()"
                  aria-label="Valider la déclaration">Valider</button>
          <button *ngIf="!notification.retard && !notification.cloturee && isDeclarationValidatedOrClosed(notification)"
                  class="action-btn disabled"
                  disabled
                  aria-label="Demande validée">Demande validée</button>
        </div>
        <!-- NatureHeureRequest Items -->
        <div class="demand-item" *ngFor="let request of natureHeureRequests"
             [class.disabled]="request.status !== 'PENDING'"
             (click)="selectNatureHeureRequest(request)">
          <img [src]="getEmployeePicture(request.userid) || 'assets/images/managerPhoto.jpg'" alt="Employee Photo" class="manager-photo" >
          <div class="employeeNotif">
            <span class="employee-name">{{ request.userFirstname }} {{ request.userlastname }}</span>
            <span >{{ request.identifiant }}</span>
            <span class="employee-identifiant">Statut: {{ request.status }}</span>
          </div>
          <div class="employeeNotif">
            <span class="employee-name" > (Ajout  nature d'heure)</span>
            <span> - {{ request.date | date:'dd/MM/yyyy' }} -</span>
          </div>

          <div *ngIf="request.status === 'PENDING'" class="action-buttons">
            <button class="action-btn enabled" (click)="approveAddRequest(request); $event.stopPropagation()" aria-label="Approuver la demande"><img src="assets/images/validate.png"  alt="Search Icon"></button>
            <button class="action-btn enabled" (click)="rejectAddRequest(request); $event.stopPropagation()" aria-label="Rejeter la demande"><img src="assets/images/reject.png"  alt="Search Icon"></button>
          </div>
        </div>

        <!-- NatureHeureModifRequest Items -->
        <div class="demand-item" *ngFor="let request of natureHeureModificationRequests"
             [class.disabled]="request.status !== 'PENDING'"
             (click)="selectNatureModifHeureRequest(request)">
          <img [src]="getEmployeePicture(request.userid) || 'assets/images/managerPhoto.jpg'" alt="Employee Photo" class="manager-photo" >
          <div class="employeeNotif">
            <span class="employee-name">{{ request.userFirstname }} {{ request.userlastname }}</span>
            <span >{{ request.identifiant }}</span>
            <span class="employee-identifiant">Statut: {{ request.status }}</span>
          </div>
          <div class="employeeNotif">
            <span class="employee-name" > (Modification de Nature d'heure)</span>
            <span> - {{ request.date | date:'dd/MM/yyyy' }} -</span>
          </div>
          <div *ngIf="request.status === 'PENDING'" class="action-buttons">
            <button class="action-btn enabled" (click)="approveModifRequest(request); $event.stopPropagation()" aria-label="Approuver la demande"><img src="assets/images/validate.png"  alt="Search Icon"></button>
            <button class="action-btn enabled" (click)="rejectModifRequest(request); $event.stopPropagation()" aria-label="Rejeter la demande"><img src="assets/images/reject.png"  alt="Search Icon"></button>
          </div>
        </div>

        <!-- NatureHeureDelRequest Items -->
        <div class="demand-item" *ngFor="let request of natureHeureDeletionRequests"
             [class.disabled]="request.approved || request.rejected">
          <img [src]="getEmployeePicture(request.requestedById) || 'assets/images/managerPhoto.jpg'" alt="Employee Photo" class="manager-photo" >
          <div class="employeeNotif">
            <span class="employee-name">{{ request.userFirstname }} {{ request.userlastname }}</span>
            <span >{{ request.identifiant }}</span>
          </div>
          <div class="employeeNotif">
            <span class="employee-name" > (Suppression d'une Nature d'heure)</span>
          </div>
          <div *ngIf="(!request.approved && !request.rejected)" class="action-buttons">
            <button class="action-btn enabled" (click)="approveDelRequest(request); $event.stopPropagation()" aria-label="Approuver la demande"><img src="assets/images/validate.png"  alt="Search Icon"></button>
            <button class="action-btn enabled" (click)="rejectDelRequest(request); $event.stopPropagation()" aria-label="Rejeter la demande"><img src="assets/images/reject.png"  alt="Search Icon"></button>
          </div>
        </div>

      </div>
      <div class="declarations-section"
           [@declarationSlide]="declarationState"
           (@declarationSlide.start)="animationStart($event)"
           (@declarationSlide.done)="animationDone($event)">
        <img src="assets/images/arrowLeft.png" class="arrowLeftD" (click)="goBackFromDeclarations()" alt="Back Button">
        <!-- Notification Details -->
        <div class="demand-item" *ngIf="selectedNotification && (selectedNotification.message?.length ?? 0) > 0">
          Message:
          <span class="messageD">{{ selectedNotification.message }}</span>
        </div>
        <div class="demand-item" *ngIf="selectedNotification && (selectedNotification.absenceDeclarations?.length ?? 0) > 0">
          {{ selectedNotification.absenceDeclarations[0].isProlongation ? 'Prolongation :' : 'Déclaration :' }}
          <span>du {{ selectedNotification.absenceDeclarations[0].dateDebut | date:'dd/MM/yyyy' }}</span>
          <span>au {{ selectedNotification.absenceDeclarations[0].dateFin | date:'dd/MM/yyyy' }}</span>
          <span>({{ selectedNotification.absenceDeclarations[0].cloturee ? 'Clôturée' : selectedNotification.absenceDeclarations[0].isValidated ? 'Validée' : 'Non Validée' }})</span>
        </div>
        <div class="demand-item" *ngIf="hasJustifications">
          Justification(s):
          <div class="justifications-list">
            <div class="justification-item" *ngFor="let justification of selectedNotification!.absenceDeclarations![0].justifications; let i = index">
              <span class="justification-number">{{ i + 1 }}. </span>
              <span class="justText">{{ justification.originalDepose ? ' (Original déposé)' : ' (Original non déposé)' }}</span>
              <button class="action-btnj enabled" (click)="downloadJustification(justification.id)">
                <img src="assets/images/dwnld.png" class="folderIcon" alt="Download Icon">
              </button>
            </div>
          </div>
        </div>
        <div class="demand-item" *ngIf="selectedNotification && (selectedNotification.absenceDeclarations?.length ?? 0) === 0 && !selectedNotification.retard">
          Aucune déclaration associée
        </div>
        <!-- NatureHeureRequest Details -->
        <div *ngIf="selectedNatureHeureRequest">
          <div class="demand-item" >
            Nature d'heure: <span>{{ selectedNatureHeureRequest.nature_heure }}</span>
          </div>
        <div class="demand-item" >
            De:<span> {{ selectedNatureHeureRequest.heureDebut }}</span>
            A: <span>{{ selectedNatureHeureRequest.heureFin }}</span>
        </div>
          <div class="demand-item" >
            Durée: <span>{{ selectedNatureHeureRequest.duree }}</span>
          </div>
            <div class="demand-item" >
            Commentaire:<span> {{ selectedNatureHeureRequest.commentaire }}</span>
        </div>
        </div>

        <!-- NatureHeureModifRequest Details -->
        <div *ngIf="selectedNatureHeureModifReq">
          <div class="demand-item" >
            Nature d'heure: <span>{{ selectedNatureHeureModifReq.nature_heure }}</span>
          </div>
          <div class="demand-item" >
            De:<span> {{ selectedNatureHeureModifReq.heureDebut }}</span>
            A: <span>{{ selectedNatureHeureModifReq.heureFin }}</span>
          </div>
          <div class="demand-item" >
            Durée: <span>{{ selectedNatureHeureModifReq.duree }}</span>
          </div>
          <div class="demand-item" >
            Commentaire:<span> {{ selectedNatureHeureModifReq.commentaire }}</span>
          </div>
        </div>
        <img src="assets/images/arrow.png" class="back-button" (click)="goBackFromDeclarations()" alt="Back Button">
      </div>
    </div>
    <div class="cards-section">
      <div class="card">
        <div class="card-title">Absentéisme de mon équipe Responsable opérationnel (HIE) / Société FDP</div>
        <div class="card-fraction">
          <span class="numerator">0 <span class="text1"> j </span></span>
          <div class="card-line"></div>
          <span class="denominator">46 <span class="text1"> pers.</span></span>
        </div>
      </div>
      <div class="card">
        <div class="card-title">Absentéisme de mon équipe Responsable (HIE) / DEP QAI</div>
        <div class="card-fraction">
          <span class="numerator">0 <span class="text1"> j </span></span>
          <div class="card-line"></div>
          <span class="denominator">0 <span class="text1"> pers.</span></span>
        </div>
      </div>
      <div class="card">
        <div class="card-title">Absentéisme de mon équipe Responsable (HIE) / Infirmier</div>
        <div class="card-fraction">
          <span class="numerator">0 <span class="text1"> j </span></span>
          <div class="card-line"></div>
          <span class="denominator">21 <span class="text1"> pers.</span></span>
        </div>
      </div>
      <div class="card">
        <div class="card-title">Micro-absentéisme de mon équipe Responsable (HIE) / DEP...</div>
        <div class="card-fraction">
          <span class="numerator">0 <span class="text1"> j </span></span>
          <div class="card-line"></div>
          <span class="denominator">0 <span class="text1"> pers.</span></span>
        </div>
      </div>
      <div class="card1">
        <div class="card-title">Mon solde de congés</div>
        <div class="card-fraction">
          <span class="numerator">0 <span class="text1"> j </span></span>
          <div class="card-line"></div>
          <span class="denominator1">0 <span class="text1"> j </span></span>
        </div>
      </div>
      <div class="card1">
        <div class="card-title">Mes autres absences</div>
        <div class="card-fraction">
          <span class="numerator">1 <span class="text1"> j pris</span></span>
        </div>
      </div>
    </div>
    <div class="right-section">
      <input type="text" placeholder="Rechercher" class="search-bar" [(ngModel)]="searchTerm" (ngModelChange)="filterDemarcheItems()">
      <div class="demarches-section">
        <div class="demarche-item" *ngFor="let item of filteredDemarcheItems">
          <span class="icon">
            <img [src]="getImageForDemarcheItem(item)" [class.big]="item === 'Je gère le planning de mon équipe'">
          </span>
          {{ item }}
        </div>
      </div>
    </div>
  </div>
</div>
