<div class="popup-container">
  <button mat-icon-button class="close-button" (click)="onClose()">
    <img src="assets/images/close.png" class="close-icon">
  </button>
  <h3 class="popup-title">{{ data.type === 'add' ? 'Ajouter une nature d’heure' : data.type === 'edit' ? 'Modifier une nature d’heure' : 'Détail de la nature d’heure' }}</h3>
  <br><br>
  <div class="popup-body">
    <div *ngIf="data.type !== 'detail'">
      <div class="form-row">
        <div class="form-field">
          <label>Nature d’heure</label>
          <select [(ngModel)]="natureHeure.nature_heure" required>
            <option value="" disabled>Sélectionnez une nature</option>
            <option *ngFor="let option of natureOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-field">
          <label>De</label>
          <input type="time" [(ngModel)]="natureHeure.heureDebut" (ngModelChange)="calculateDuree()" required>
        </div>
        <div class="form-field">
          <label>À</label>
          <input type="time" [(ngModel)]="natureHeure.heureFin" (ngModelChange)="calculateDuree()" required>
        </div>
        <div class="form-field">
          <label>Durée</label>
          <input type="text" [(ngModel)]="natureHeure.duree" disabled placeholder="Calculée automatiquement">
        </div>
      </div>
      <div class="form-row">
        <div class="form-field">
          <label>Commentaire</label>
          <textarea [(ngModel)]="natureHeure.commentaire" placeholder="Entrez un commentaire"></textarea>
        </div>
      </div>
    </div>
    <div *ngIf="data.type === 'detail'">
      <div class="form-row">
        <div class="form-field">
      <p><strong>Nature:</strong> {{ natureHeure.nature_heure || 'N/A' }}</p>
        </div>
      </div>
      <div class="form-row">
        <div class="form-field">
        <p><strong>Début:</strong> {{ natureHeure.heureDebut || 'N/A' }}</p>
        </div>
          <div class="form-field">
      <p><strong>Fin:</strong> {{ natureHeure.heureFin || 'N/A' }}</p>
          </div>
      </div>
      <div class="form-row">
      <div class="form-field">
        <p><strong>Durée:</strong> {{ natureHeure.duree || 'N/A' }}</p>
      </div>
      </div>
      <div class="form-row">
        <div class="form-field">
      <p><strong>Commentaire:</strong> {{ natureHeure.commentaire || 'N/A' }}</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="popup-buttons">
    <button type="button" class="cancel-button" (click)="onCancel()">Annuler</button>
    <button type="button" class="yes-button" *ngIf="data.type !== 'detail'" (click)="onSave()">Enregistrer</button>
  </div>
</div>
