<div class="popup-container">
  <button mat-icon-button class="close-button" (click)="onClose()">
    <img src="assets/images/close.png" class="close-icon">
  </button>
  <h3 class="popup-title">{{ data.type === 'add' ? 'Ajouter une nature d’heure' : data.type === 'edit' ? 'Modifier une nature d’heure' : 'Détail de la nature d’heure' }}</h3>
  <br><br>
  <div class="popup-body">
    <!-- Condition pour différencier les modes -->
    <div *ngIf="data.type !== 'detail'">
      <div class="form-row">
      <div class="form-field">
        <label>Date</label>
        <input type="date" [disabled]="data.type === 'edit'" placeholder="Sélectionnez une date">
      </div>
      <div class="form-field">
        <label>Nature d’heure</label>
        <select [disabled]="data.type === 'edit'">
          <option value="" disabled selected>Sélectionnez une nature</option>
          <option value="recuperation">Heures de récupération</option>
          <option value="dejeuner">Déjeuner</option>
          <option value="AbsenceAtort">Absence à tort</option>
        </select>
      </div>
      </div>
      <div class="form-row">
        <div class="form-field">
          <label>De</label>
          <input type="time" [disabled]="data.type === 'edit'">
        </div>
        <div class="form-field">
          <label>À</label>
          <input type="time" [disabled]="data.type === 'edit'">
        </div>
        <div class="form-field">
          <label>Durée</label>
          <input type="text" disabled placeholder="Calculée automatiquement">
        </div>
      </div>
      <div class="form-row">
      <div class="form-field">
        <label>Commentaire 1</label>
        <textarea [disabled]="data.type === 'edit'" placeholder="Entrez un commentaire"></textarea>
      </div>
      <div class="form-field">
        <label>Commentaire 2</label>
        <textarea [disabled]="data.type === 'edit'" placeholder="Entrez un commentaire"></textarea>
      </div>
      </div>
    </div>
    <div *ngIf="data.type === 'detail'">
      <!-- À implémenter : afficher les détails de data.item -->
      <p>Détails : {{ data.item ? JSON.stringify(data.item) : 'Aucun détail disponible' }}</p>
    </div>
  </div>
  <br>
  <div class="popup-buttons">
    <button type="button" class="cancel-button" (click)="onCancel()">Annuler</button>
    <button type="button" class="yes-button" *ngIf="data.type !== 'detail'" (click)="onSave()">Enregistrer</button>
  </div>
</div>
