@font-face {
  font-family: 'OpenSans';
  src: url('/assets/font/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url('/assets/font/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSansSemi';
  src: url('/assets/font/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('/assets/font/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansExtra';
  src: url('/assets/font/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}




html, body {
  margin: 0 !important;
  padding: 0 !important;
}

.custom-icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url('assets/images/4you_naceur_red.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.6) !important; /* Dimmed background */
}

.navbar, app-navbar {
  overflow: visible !important;
}

.dropdown-content {
  position: absolute;
  min-width: 320px;
  z-index: 9999;
  top: 60px;
  left: 0;
  background-color: #4a4a4a;
  padding: 0;
  margin: 0;
  max-height: 0px; /* Match animation's initial 'out' state */
  opacity: 0;
  visibility: hidden;
}

.dropdown-content a {
  background-color: #3e495b;
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  line-height: normal;
  min-height: 50px;
  width: 100%;
  box-sizing: border-box;
  border: 0.01px solid #252d3a;
  position: relative;
}

.dropdown-content a i {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 17px ;
  color: white;
  margin-right: 0;
}

.sub-dropdown-content {
  background-color: #4a4a4a;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.sub-dropdown-content a {
  background-color: #3e495b;
  padding: 12px 16px;
  font-size: 14px;
  text-decoration: none;
  display: block;
  text-align: left;
  line-height: normal;
  min-height: 35px;
  width: 100%;
  box-sizing: border-box;
  border: 0.1px solid #252d3a;
}

.sub-dropdown-content1 {
  background-color: #4a4a4a;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.sub-dropdown-content1 a {
  background-color: #3e495b;
  padding: 12px 16px;
  font-size: 14px;
  text-decoration: none;
  display: block;
  text-align: left;
  line-height: normal;
  min-height: 35px;
  width: 100%;
  box-sizing: border-box;
  border: 0.01px solid #252d3a;
}

.sub-dropdown-content2 {
  background-color: #4a4a4a;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.sub-dropdown-content2 a {
  background-color: #3e495b;
  padding: 12px 16px;
  font-size: 14px;
  text-decoration: none;
  display: block;
  text-align: left;
  line-height: normal;
  min-height: 35px;
  width: 100%;
  box-sizing: border-box;
  border: 0.01px solid #252d3a;
}

.sub-dropdown-content a:hover {
  background-color: #666;
}

.dropdown-content a:hover {
  background-color: #666;
}

.dropdown-content a.logout-option {
  background-color: #252d3a;
}


.custom-toast {
  width: 500px !important;
  height: auto !important;
  padding: 20px !important;
  font-size: 18px !important;
  line-height: 1.5 !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
}


.toast-center-center {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 100% !important;
  max-width: 600px !important;
  text-align: center !important;
}



